
header {
  font-family:  "Amatic SC", cursive;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 285px;
  margin-bottom: 285px
}

body {
  font-family:  "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: white;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

a {
  color: purple;
}

li {
  margin: 0 0 10px 0;
}

#navigation {
  display: inline;
  color: black;

}

#navigation span {
  margin: 0 20px;
}

#AboutLink:hover {
  color: red;
}

#EducationLink:hover {
  color: red;
}

#ProjectsLink:hover {
  color: red;
}

.school_img {
  height: 75px;

}

.header {
  color: black;
  font-size: 60px;
  font-family:  "Amatic SC", serif;
}

.sec {
  width: 100%;
  padding-top: 35px;
  margin: 0px;
  text-align: center;
}


.linkedinbutton {
  width: 47px; /* 63 */
  margin-left: 25px;
  margin-right: 3px;
  vertical-align: middle;
}

.mailbutton {
  width: 100px; /* 133 */
  margin-left: 30px;
  margin-right: 3px;
  vertical-align: middle;
}

.resumebutton {
  width: 100px; /* 133 */
  margin-right: 3px;
  vertical-align: middle;
}

.navlink {
  color: purple;
  text-decoration: none;
  display: inline-block;
  opacity: 10;

}

.intro {
  padding-bottom: 0px;
}

.ReactionBot {
  width: 650px;
  vertical-align: middle;
  padding-top: 25px;
}

/*

#myHeader.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  
}
*/








